/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2016, 3:32:44 PM
    Author     : Tony
*/
.commentContainer{
    background-color: white;
    margin: 10px;    
    border-color: gray;
}

.CommentText{
    color: black;
    font: 12pt;
}
.button-primary{
    background-color: #000033;
    color: white;
    margin: 5px;
}
.button-danger{
    background-color: red;
    color: white;
}
.board{
    background-color: lightblueblue;
}
.button-success{
    background-color: greenyellow;
}
textarea{
    clear: both;
}